{{#freestyle-usage 'bourbon-scrollable-modal' title='scrollable modal' usageTitle='Usage'}}
  {{bourbon-modal}}
{{/freestyle-usage}}
<div class='FreestyleUsage-rendered'>
  {{bourbon-button title='Show scrollable modal' class='BourbonButton--primary' action=(action 'showBourbonModal' scrollableModalParams)}}
</div>

{{#freestyle-note 'bourbon-scrollable-modal--notes'}}
  <br>
  - You will need to add the paramaters for each modal to your controller.
  - If you want to close the modal after close action. Your controller will have to call the closeModal function.
  <br>

  See examples below.

  <br>
  ```
    this.set('scrollableModalParams', {
      scrollable: true,
      wideModal: false,
      closeAction: this.controllerCloseAction,
      title: 'scrolling modal title',
      content: 'test-long-modal-content',
      context: this,
      buttonOneTitle: 'Primary Button',
      buttonOneAction: this.primaryClick,
      buttonOneType: 'primary',
      buttonOneDontClose: true,
      buttonTwoTitle: 'Secondary',
      buttonTwoType: 'secondary',
      buttonTwoAction: () => this.secondaryClick('anonymous'),
      buttonTwoDontClose: true,
      linkTitle: 'alternative resource link',
      linkHref: '#',
      dismissable: true
    })


    controllerActionToBePassed() {
      # do something

      // call this from flabongo to close the modal
      this.get('modalService').closeBourbonModal();
    }
  ```
  <br>

  <h4>Modal Options</h4>
  <ul>
    <li>title: modal title</li>
    <li>content: partial name for modal content</li>
    <li>textContent: string for modal content</li>
    <li>
        title is required if you need a button. action is only needed if you have a flabongo action, otherwise, the button will default to having action for closing the
      modal
      <ul>
        <li>buttonOneTitle: text to display on the right button</li>
        <li>buttonOneAction: function for the right button action</li>
        <li>buttonOneType: the type defaults to 'primary' but can be changed to 'secondary' or 'delete'</li>
        <li>buttonTwoTitle: text to display on the left button</li>
        <li>buttonTwoAction: function for the left button action</li>
        <li>buttonTwoType: the type defaults to 'secondary' but can be changed to 'primary' or 'delete'</li>
      </ul>
    </li>
    <li>context: Optional if you need to know the controller context inside the modal.</li>
    <li>scrollable: Optional to make content in the modal scrollable (good for long content, height: 600px)</li>
    <li>wideModal: Optional to make the modal wider (width: 850px)</li>
    <li>closeAction: function to run in addition to the default closing actions of the modal (closeBourbonModal)</li>
    <li>buttonOneDontClose: Optional set to true if you don't want the button in the modal to trigger a close action</li>
    <li>buttonTwoDontClose: Optional set to true if you don't want the button in the modal to trigger a close action</li>
    <li>linkTitle: text to display on the footer link</li>
    <li>linkHref: link for the footer link</li>
    <li>dismissable: Optional, modal set to true and dismissable by default.  Pass in false to change this.</li>
  </ul>

  <h4>Please Note</h4>
  <p class='FreestyleUsage-rendered'>
    For the content section, you can pass in a string or a partial.
  </p>
  <p class='FreestyleUsage-rendered'>
    For a partial, use the following classes for your content.
  </p>
  <ul>
    <li>bourbon-modal__description</li>
    <li>bourbon-modal__content-area</li>
  </ul>

  <p class='FreestyleUsage-rendered'>
    When passing in a <strong>context</strong> into a modal, you will need to reference
    "modalContext" within your partial or component in flabongo.
  </p>
  <p>See example below.</p>
  <p>In the component.coffee file</p>
  ```
      @send 'showBourbonModal',
        content: 'components/custom-dropdowns-container'
        context: this
        closeAction: =>
        surveyReloadPromise = @get('surveyController.model').reloadRecord()
        @send 'showPending', surveyReloadPromise
  ```

  <p>In the component.emblem template</p>
  ```
      = custom-dropdowns [
        survey=modalContext.surveyController
        currentUser=modalContext.currentUser
        selectedChoice=modalContext.selectedChoice
        ]

  ```
{{/freestyle-note}}


{{#freestyle-usage 'bourbon-confirmation-modal' title='confirmation modal' usageTitle='Usage'}}
    {{bourbon-button title='Show confirmation modal' class='BourbonButton--primary' action=(action 'showBourbonModal'
    confirmationModalParams)}}
{{/freestyle-usage}}

{{#freestyle-note 'bourbon-confirmation-modal--notes'}}
  <div class="FreestyleUsage-rendered">Params being passed into the example</div>
  ```
    this.set('confirmationModalParams', {
      confirmationModal: true,
      closeAction: this.controllerCloseAction,
      title: 'Are you sure?',
      textContent: 'Would you like to delete your connection?',
      buttonOneTitle: 'Delete',
      buttonOneAction: this.primaryClick,
      buttonOneType: 'delete',
      buttonTwoTitle: 'Cancel',
      buttonTwoAction: () => this.secondaryClick('anonymous'),
    })
  ```
{{/freestyle-note}}


{{#freestyle-usage 'bourbon-wide-modal' title='wide modal' usageTitle='Usage'}}
  {{bourbon-button title='Show wide modal' class='BourbonButton--primary' action=(action 'showBourbonModal' modalWideParams)}}
{{/freestyle-usage}}

{{#freestyle-note 'bourbon-wide-modal--notes'}}
  <div class="FreestyleUsage-rendered">Params being passed into the example</div>
  ```
    this.set('modalWideParams', {
      wideModal: true,
      closeAction: this.controllerCloseAction,
      title: 'wide modal title',
      content: 'test-modal-content',
      buttonOneTitle: 'Secondary Button',
      buttonOneAction: this.primaryClick,
      buttonOneDontClose: true,
      buttonOneType: 'secondary',
    })
  ```
{{/freestyle-note}}


{{#freestyle-usage 'bourbon-short-content-modal' title='short content modal' usageTitle='Usage'}}
  {{bourbon-button title='Show regular modal' class='BourbonButton--primary' action=(action 'showBourbonModal' modalParams)}}
{{/freestyle-usage}}

{{#freestyle-note 'bourbon-short-content-modal--notes'}}
  <div class="FreestyleUsage-rendered">Params being passed into the example</div>
  ```
      this.set('modalParams', {
        closeAction: this.controllerCloseAction,
        title: 'modal title',
        content: 'test-modal-content',
        buttonOneTitle: 'Primary',
        buttonOneAction: this.primaryClick,
        buttonTwoTitle: 'Secondary button',
        linkTitle: 'alternative resource link',
        linkHref: '#',
        dismissable: false
      })
  ```
{{/freestyle-note}}


{{#freestyle-usage 'bourbon-long-modal' title='long content modal' usageTitle='Usage'}}
  {{bourbon-button title='Show long modal' class='BourbonButton--primary' action=(action 'showBourbonModal' longModalParams)}}
{{/freestyle-usage}}
{{#freestyle-note 'bourbon-long-modal--notes'}}
  <div class="FreestyleUsage-rendered">Params being passed into the example</div>
  ```
    this.set('longModalParams', {
      title: 'long modal title',
      content: 'test-long-modal-content',
      buttonOneTitle: 'Primary Button',
      buttonOneDontClose: true,
      buttonOneAction: () => this.get('modalService').showBourbonModal(this.get('confirmationModalParams'))
    })
  ```
{{/freestyle-note}}

{{#freestyle-usage 'bourbon-no-padding-modal' title='no padding modal' usageTitle='Usage'}}
  {{bourbon-button title='Show no padding modal' class='BourbonButton--primary' action=(action 'showBourbonModal' noPaddingModalParams)}}
{{/freestyle-usage}}
{{#freestyle-note 'bourbon-no-padding-modal--notes'}}
  <div class="FreestyleUsage-rendered">Params being passed into the example</div>
  ```
    this.set('noPaddingModalParams', {
      confirmationModal: true,
      noPaddingModal: true,
      title: 'Am I cute?',
      content: 'test-image-content',
    }),
  ```
{{/freestyle-note}}

<div class='FreestyleUsage-usage'>
  <h3 class='FreestyleUsage-title'>diagram: how flabongo consumes the bourbon modal </h3>
  <p class='FreestyleUsage-rendered'>created by Lawerence</p>

  <img src="../images/bourbon-modal-diagram.png" alt="diagram showing connection between flabongo and bourbon for modal">
</div>
