{{#freestyle-section name='Components' as |section|}}
  {{#section.subsection name='buttons'}}
    {{partial 'components/buttons/all-buttons'}}
  {{/section.subsection}}

  {{#section.subsection name='modals'}}
    {{partial 'components/modals'}}
  {{/section.subsection}}

  {{#section.subsection name='tooltip'}}
    {{partial 'components/tooltip'}}
  {{/section.subsection}}

  {{#section.subsection name='table'}}
    {{partial 'components/table'}}
  {{/section.subsection}}

  {{#section.subsection name='demo prompt'}}
    {{partial 'components/demo-prompt'}}
  {{/section.subsection}}

  {{#section.subsection name='feature overview'}}
    {{partial 'components/feature-overview'}}
  {{/section.subsection}}

  {{#section.subsection name='alert badge'}}
    {{partial 'components/alert-badge'}}
  {{/section.subsection}}

  {{#section.subsection name='text field'}}
    {{partial 'components/text-field'}}
  {{/section.subsection}}

  {{#section.subsection name='select field'}}
    {{partial 'components/select-field'}}
  {{/section.subsection}}

  {{#section.subsection name='search select field'}}

    {{#freestyle-usage 'search-select-field' title='search select field (array)' usageTitle='Usage'}}
      {{bourbon-search-select-field content=petsArray prompt="Select an animal..." value="Select an animal..."}}
    {{/freestyle-usage}}

    {{#freestyle-note 'search-select-field--notes'}}

    {{/freestyle-note}}


    {{#freestyle-usage 'search-object-select-field' title='search select field (object)' usageTitle='Usage'}}
      {{bourbon-search-select-field content=petObject prompt="Select your favorite dog..." optionLabelPath="content.label" optionValuePath="content.value" value=null}}
    {{/freestyle-usage}}

    {{#freestyle-note 'search-object-select-field--notes'}}

    {{/freestyle-note}}

    {{#freestyle-usage 'search-object-select-field' title='search select field (object with enabled option)' usageTitle='Usage'}}
      {{bourbon-search-select-field content=somePetObject prompt="Select your favorite dog..." optionEnabledPath="content.enabled" optionLabelPath="content.label" optionValuePath="content.value"}}
    {{/freestyle-usage}}

  {{/section.subsection}}


  {{#section.subsection name='accordion'}}

    {{#freestyle-usage 'closed-accordion' title='closed accordion' usageTitle='Usage'}}
      {{bourbon-accordion list=closedAccordionList}}
    {{/freestyle-usage}}
    {{#freestyle-note 'closed-accordion--notes'}}
        <h4>Accordion Options</h4>
        <ul>
          <li>header</li>
          <li>body</li>
          <li>headerPartial</li>
          <li>bodyPartial</li>
          <li>open: default is false</li>
          <li>toggleable: default is true</li>
        </ul>
        <br>

        See example below.

        ```
        this.set('openAccordionList', A([
              {
                header: 'Chompsky the only Brussels Griffon',
                body: 'Doggo ipsum extremely cuuuuuute heck doge smol borking doggo with a long snoot for pats, you are doing me a frighten wow very biscit. Very hand that feed shibe smol yapper, boof. Shibe most angery pupper I have ever seen the neighborhood pupper pupperino floofs, very hand that feed shibe shooberino maximum borkdrive. Wow such tempt ur givin me a spook very good spot ruff, you are doing me the shock. Pupperino snoot heck what a nice floof shooberino pats, super chub you are doing me the shock pupper I am bekom fat, puggorino heckin good boys heckin many pats. Very taste wow ruff big ol pupper what a nice floof, floofs borkdrive, clouds most angery pupper I have ever seen. Woofer bork doggo stop it fren doggo most angery pupper I have ever seen, wrinkler very jealous pupper noodle horse puggorino fluffer blop, heckin good boys and girls heckin doggo shoober.',
                open: true,
                toggleable: false
              },
              {
                header: 'Memphis the other Brussels Griffon',
                bodyPartial: 'test-modal-content',
                open: true,
                toggleable: false
              },
              {
                header: 'Macho the Frenchie who is so Frenchie',
                body: 'pats very jealous pupper big ol pupper. Borkf heck heckin good boys vvv big ol pupper what a nice floof I am bekom fat shibe snoot doggorino, shoober heckin good boys wow such tempt borkf porgo h*ck ruff. Smol borking doggo with a long snoot for pats ur givin me a spook borking doggo long doggo long woofer, tungg doggo porgo, noodle horse very good spot very hand that feed shibe. Waggy wags much ruin diet you are doing me the shock, many pats.',
                open: true
              }
            ]))
        ```
    {{/freestyle-note}}
    {{#freestyle-usage 'open-accordion' title='open accordion' usageTitle='Usage'}}
      {{bourbon-accordion list=openAccordionList}}
    {{/freestyle-usage}}


  {{/section.subsection}}

{{/freestyle-section}}
