{{#freestyle-section name='Components' as |section|}}
  {{#section.subsection name='buttons'}}
    {{partial 'components/buttons/all-buttons'}}
  {{/section.subsection}}

  {{#section.subsection name='modals'}}
    {{partial 'components/modals'}}
  {{/section.subsection}}

  {{#section.subsection name='tooltip'}}
    {{partial 'components/tooltip'}}
  {{/section.subsection}}

  {{#section.subsection name='table'}}
    {{partial 'components/table'}}
  {{/section.subsection}}

  {{#section.subsection name='demo prompt'}}
    {{partial 'components/demo-prompt'}}
  {{/section.subsection}}

  {{#section.subsection name='feature overview'}}
    {{partial 'components/feature-overview'}}
  {{/section.subsection}}

  {{#section.subsection name='alert badge'}}
    {{partial 'components/alert-badge'}}
  {{/section.subsection}}

  {{#section.subsection name='text field'}}
    {{partial 'components/text-field'}}
  {{/section.subsection}}

  {{#section.subsection name='select field'}}
    {{partial 'components/select-field'}}
  {{/section.subsection}}

  {{#section.subsection name='search select field'}}

    {{#freestyle-usage 'search-select-field' title='search select field (array)' usageTitle='Usage'}}
      {{bourbon-search-select-field content=petsArray prompt="Select an animal..." value=null}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'search-object-select-field' title='search select field (object)' usageTitle='Usage'}}
      {{bourbon-search-select-field content=petObject prompt="Select your favorite dog..." optionLabelPath="content.label" optionValuePath="content.value" value=null}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'search-object-select-field' title='search select field (object with enabled option)' usageTitle='Usage'}}
      {{bourbon-search-select-field content=somePetObject prompt="Select your favorite dog..." optionEnabledPath="content.enabled" optionLabelPath="content.label" optionValuePath="content.value"}}
    {{/freestyle-usage}}

  {{/section.subsection}}


  {{#section.subsection name='accordion'}}

    {{#freestyle-usage 'open-accordion' title='open accordion' usageTitle='Usage'}}
      {{#bourbon-accordion}}
          {{bourbon-accordion-item listItem=accordionItemOne}}
          {{bourbon-accordion-item listItem=accordionItemTwo}}
          {{bourbon-accordion-item listItem=accordionItemThree}}
      {{/bourbon-accordion}}
    {{/freestyle-usage}}
    {{#freestyle-note 'closed-accordion--notes'}}
        <h4>Accordion Options</h4>
        <ul>
          <li>header</li>
          <li>body</li>
          <li>headerPartial</li>
          <li>bodyPartial</li>
          <li>open: default is false</li>
          <li>toggleable: default is true</li>
        </ul>
        <br>

        ```
    {{/freestyle-note}}
    {{#freestyle-usage 'closed-accordion' title='closed accordion' usageTitle='Usage'}}
      {{#bourbon-accordion}}
        {{bourbon-accordion-item listItem=accordionItemOneClosed}}
        {{bourbon-accordion-item listItem=accordionItemTwoClosed}}
        {{bourbon-accordion-item listItem=accordionItemThreeClosed}}
      {{/bourbon-accordion}}
    {{/freestyle-usage}}


  {{/section.subsection}}

{{/freestyle-section}}
