{{#freestyle-section name='Components' as |section|}}
  {{#section.subsection name='buttons'}}
    {{partial 'components/buttons/all-buttons'}}
  {{/section.subsection}}

  {{#section.subsection name='modals'}}
    {{partial 'components/modals'}}
  {{/section.subsection}}

  {{#section.subsection name='tooltip'}}
    {{partial 'components/tooltip'}}
  {{/section.subsection}}


  {{#section.subsection name='text field'}}
    {{#freestyle-collection title='All text fields' defaultKey='all' inline=false as |collection|}}
      {{#collection.variant key='default'}}

        {{#freestyle-usage 'text-fields' title='default'}}
          {{bourbon-text-field placeholder="i am the placholder" onFocusOutOrEnter=(action "textFieldClick")}}
        {{/freestyle-usage}}

        {{#freestyle-note 'text-fields--notes'}}
          <div>To see the action, please open up your console to see the console.log statements.</div>

          <h4>Form field options</h4>
          <ul>
            <li>placeholder: (optional)</li>
            <li>value: default is '' (optional)</li>
            <li>classNames: you can add additional classes to style the input differently (optional)</li>
            <li>various actions:
              <ul>
                <li>actionOnFocusIn: action to be taken when focused into the text field</li>
                <li>actionOnFocusOut: action to be taken when focused out of the text field</li>
                <li>actionOnEnter: action to be taken when pressing enter in the text field</li>
                <li>onFocusOutOrEnter: action to be taken when focused out of or when pressing enter in the text field</li>
              </ul>
            </li>
            <li>autofocus: default is false (optional)</li>
          </ul>
        {{/freestyle-note}}
      {{/collection.variant}}

      {{#collection.variant key='actionOnFocusIn'}}
        {{#freestyle-usage 'text-fields-focus-in' title='actionOnFocusIn'}}
          {{bourbon-text-field placeholder="i am the placholder" autofocus=true actionOnFocusIn=(action "textFieldClick")}}
        {{/freestyle-usage}}
        {{#freestyle-note 'text-fields-focus-in--notes'}}
          <div>Example showing when passing in an action for when user focuses into the text field</div>
        {{/freestyle-note}}
      {{/collection.variant}}

      {{#collection.variant key='actionOnFocusOut'}}
        {{#freestyle-usage 'text-fields-focus-out' title='actionOnFocusOut'}}
          {{bourbon-text-field placeholder="i am the placholder" actionOnFocusOut=(action "textFieldClick")}}
        {{/freestyle-usage}}
        {{#freestyle-note 'text-fields-focus-out--notes'}}
            <div>Example showing when passing in an action for when user focuses out of the text field</div>
        {{/freestyle-note}}
      {{/collection.variant}}

      {{#collection.variant key='onFocusOutOrEnter'}}
        {{#freestyle-usage 'text-fields-focus-out-enter' title='onFocusOutOrEnter'}}
          {{bourbon-text-field placeholder="i am the placholder" onFocusOutOrEnter=(action "textFieldClick")}}
        {{/freestyle-usage}}
        {{#freestyle-note 'text-fields-focus-out-enter--notes'}}
            <div>Example showing when passing in an action for when user focuses out of the text field or presses enter</div>
        {{/freestyle-note}}
      {{/collection.variant}}

      {{#collection.variant key='disabled'}}
        {{#freestyle-usage 'text-fields-disabled' title='disabled'}}
          {{bourbon-text-field placeholder="i am the placholder" onFocusOutOrEnter=(action "textFieldClick") disabled="disabled"}}
        {{/freestyle-usage}}
        {{#freestyle-note 'text-fields-disabled--notes'}}
            <div>Example showing when text field is disabled</div>
        {{/freestyle-note}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/section.subsection}}
  {{#section.subsection name='select field'}}

    {{#freestyle-collection title='Select field' defaultKey='all' inline=false as |collection|}}

      {{#collection.variant key='default'}}
        {{#freestyle-usage 'select-field' title='select field' usageTitle='Usage'}}
          {{bourbon-select-field}}
        {{/freestyle-usage}}

        {{#freestyle-note 'select-field--notes'}}
        {{/freestyle-note}}


      {{/collection.variant}}

    {{/freestyle-collection}}
  {{/section.subsection}}


{{/freestyle-section}}
