{{#freestyle-section name='Components' as |section|}}
  {{#section.subsection name='buttons'}}
    {{partial 'components/buttons/all-buttons'}}
  {{/section.subsection}}

  {{#section.subsection name='modals'}}
    {{#freestyle-usage 'bourbon-scrollable-modal' title='scrollable modal' usageTitle='Usage'}}
      {{bourbon-modal}}
    {{/freestyle-usage}}
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='show scrollable modal' additionalClasses='bourbon-primary-button' action=(action 'showModal' scrollableModalParams)}}
    </div>

    {{#freestyle-note 'bourbon-scrollable-modal--notes'}}
      ###### You will need to add the paramaters for each modal to your controller.  See example below.

      ```
        this.set('scrollableModalParams', {
          scrollable: true,
          closeAction: this.controllerCloseAction,
          title: 'scrolling modal title',
          content: 'test-long-modal-content',
          primaryButtonTitle: 'primary',
          primaryButtonAction: this.primaryClick,
          secondaryButtonTitle: 'secondary',
          secondaryButtonAction: this.secondaryClick,
          linkTitle: 'alternative resource link',
          linkHref: '#'
        })
      ```
    {{/freestyle-note}}
  
    <h4 class='FreestyleUsage-title'>modal with short content</h4>
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='show regular modal' additionalClasses='bourbon-primary-button' action=(action 'showModal' modalParams)}}
    </div>

    <h4 class='FreestyleUsage-title'>modal with long content</h4>
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='show long modal' additionalClasses='bourbon-primary-button' action=(action 'showModal' longModalParams)}}
    </div>

    <h3 class='FreestyleUsage-title'>Note on usage</h3>
    <p class='FreestyleUsage-rendered'>
      For the content section, use the following classes in your content partial.
    </p>
    <ul>
      <li>bourbon-modal__description</li>
      <li>bourbon-modal__content-area</li>
    </ul>
    <div class='FreestyleUsage-usage'>
      <h3 class='FreestyleUsage-title'>how flabongo consumes the bourbon modal</h3>
      <p class='FreestyleUsage-rendered'>diagram created by Lawerence</p>
      
      <img src="../images/bourbon-modal-diagram.png" alt="diagram showing connection between flabongo and bourbon for modal">
    </div>
  {{/section.subsection}}
{{/freestyle-section}}
