{{#freestyle-section name='Components' as |section|}}
  {{#section.subsection name='buttons'}}
    {{partial 'components/buttons/all-buttons'}}
  {{/section.subsection}}

  {{#section.subsection name='modals'}}
    {{#freestyle-usage 'bourbon-scrollable-modal' title='scrollable modal' usageTitle='Usage'}}
      {{bourbon-modal}}
    {{/freestyle-usage}}
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='Show scrollable modal' class='bourbon-primary-button' action=(action 'showBourbonModal' scrollableModalParams)}}
    </div>

    {{#freestyle-note 'bourbon-scrollable-modal--notes'}}
      <br>
      - You will need to add the paramaters for each modal to your controller. 
      - If you want to close the modal after close action. Your controller will have to call the closeModal function.  
      <br>

      See examples below.
      
      <br>
      ```
        this.set('scrollableModalParams', {
          scrollable: true,
          closeAction: this.controllerCloseAction,
          title: 'scrolling modal title',
          content: 'test-long-modal-content',
          primaryButtonTitle: 'primary',
          primaryButtonAction: this.primaryClick,
          secondaryButtonTitle: 'secondary',
          secondaryButtonAction: () => this.secondaryClick('anonymous'),
          linkTitle: 'alternative resource link',
          linkHref: '#'
        })


        controllerActionToBePassed() {
          # do something

          // call this from flabongo to close the modal    
          this.get('modalService').closeBourbonModal();
        }
      ```
      <br>

      <p class='FreestyleUsage-rendered'>
        For the content section, use the following classes in your content partial.
      </p>
      <ul>
        <li>bourbon-modal__description</li>
        <li>bourbon-modal__content-area</li>
      </ul>
    
    {{/freestyle-note}}

    <h4 class='FreestyleUsage-title'>confirmation/warning modal</h4>
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='Show confirmation modal' class='bourbon-primary-button' action=(action 'showBourbonModal' confirmationModalParams)}}
    </div>
  
    <h4 class='FreestyleUsage-title'>wide modal with short content</h4>
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='Show wide modal' class='bourbon-primary-button' action=(action 'showBourbonModal' modalWideParams)}}
    </div>

    <h4 class='FreestyleUsage-title'>modal with short content</h4>
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='Show regular modal' class='bourbon-primary-button' action=(action 'showBourbonModal' modalParams)}}
    </div>

    <h4 class='FreestyleUsage-title'>modal with long content</h4>
    <div class='FreestyleUsage-rendered'>
      {{bourbon-button title='Show long modal' class='bourbon-primary-button' action=(action 'showBourbonModal' longModalParams)}}
    </div>

    <div class='FreestyleUsage-usage'>
      <h3 class='FreestyleUsage-title'>diagram: how flabongo consumes the bourbon modal </h3>
      <p class='FreestyleUsage-rendered'>created by Lawerence</p>
      
      <img src="../images/bourbon-modal-diagram.png" alt="diagram showing connection between flabongo and bourbon for modal">
    </div>
  {{/section.subsection}}
{{/freestyle-section}}
