{{#freestyle-section name='Icons' as |section|}}
  {{#section.subsection name='SVG'}}

    {{#freestyle-usage 'bourbon-edit-button-svg' title='Edit button'}}
      {{partial 'bourbon-edit-button-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-close-button-svg' title='Close button'}}
        {{partial 'bourbon-close-button-svg'}}
    {{/freestyle-usage}}


    {{#freestyle-usage 'bourbon-loading-svg' title='Loading'}}
      {{partial 'bourbon-loading-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-messaging-svg' title='Messaging'}}
      {{partial 'bourbon-messaging-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-new-tab-svg' title='New tab'}}
      <div class="bourbon-bg-shade">
        {{partial 'bourbon-new-tab-svg'}}
      </div>
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-search-to-close-svg' title='Search to close'}}
      {{partial 'bourbon-search-to-close-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-upgrade-badge-svg' title='Upgrade badge'}}
      {{partial 'bourbon-upgrade-badge-svg'}}
    {{/freestyle-usage}}

  {{/section.subsection}}
{{/freestyle-section}}
