{{#freestyle-section name='Icons' as |section|}}
  {{#section.subsection name='SVG'}}

    {{#freestyle-usage 'bourbon-sf-contact-icon' title='Salesforce Contact'}}
      {{bourbon-icon bourbonIcon='bourbon-sf-contact-icon' size='xlarge'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-sf-case-icon' title='Salesforce case'}}
      {{bourbon-icon bourbonIcon='bourbon-sf-case-icon' size='xlarge'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-sf-account-icon' title='Salesforce account'}}
      {{bourbon-icon bourbonIcon='bourbon-sf-account-icon' size='xlarge'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-sf-lead-icon' title='Salesforce lead'}}
      {{bourbon-icon bourbonIcon='bourbon-sf-lead-icon' size='xlarge'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-sf-opportunity-icon' title='Salesforce opportunity'}}
      {{bourbon-icon bourbonIcon='bourbon-sf-opportunity-icon' size='xlarge'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-confirm-icon' title='confirm'}}
      {{bourbon-icon bourbonIcon='bourbon-confirm-icon' size='xlarge'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-edit-button-svg' title='Edit button'}}
      {{partial 'bourbon-edit-button-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-close-button-svg' title='Close button'}}
        {{partial 'bourbon-close-button-svg'}}
    {{/freestyle-usage}}


    {{#freestyle-usage 'bourbon-loading-svg' title='Loading'}}
      {{partial 'bourbon-loading-svg'}}
    {{/freestyle-usage}}


    {{#freestyle-usage 'bourbon-check-svg' title='Check'}}
      {{partial 'bourbon-check-svg'}}
    {{/freestyle-usage}}


    {{#freestyle-usage 'bourbon-messaging-svg' title='Messaging'}}
      {{partial 'bourbon-messaging-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-new-tab-svg' title='New tab'}}
      <div class="btw-bg-shade">
        {{partial 'bourbon-new-tab-svg'}}
      </div>
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-search-to-close-svg' title='Search to close'}}
      {{partial 'bourbon-search-to-close-svg'}}
    {{/freestyle-usage}}

    {{#freestyle-usage 'bourbon-svg--upgrade-badge' title='Upgrade badge'}}
      {{bourbon-svg--upgrade-badge size='large' color='fern'}}
      {{bourbon-svg--upgrade-badge}}
      {{bourbon-svg--upgrade-badge size='small' color='fern'}}
    {{/freestyle-usage}}

    {{#freestyle-annotation}}
      <h4>SVG options</h4>
      <ul>
        <li>size: options are 'small' 18px, 'medium' 24px, 'large' 36px (optional), default is medium</li>
        <li>color: default is black (optional)</li>
      </ul>
    {{/freestyle-annotation}}
  {{/section.subsection}}
{{/freestyle-section}}
