<select name="BourbonSelectField" class="BourbonSelectField btw-hidden" focusrole="listbox">
  {{#if hasPrompt}}
    <option value={{prompt}}>{{prompt}}</option>
  {{/if}}
  {{#if useOptGroup}}
    {{#each groupedContent as |group|}}
      {{#each group.items as |option|}}
        {{bourbon-select-field-option tagName="option" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
      {{/each}}
    {{/each}}

  {{else}}
    {{#each content as |option|}}
      {{bourbon-select-field-option tagName="option" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
    {{/each}}
  {{/if}}
</select>

<div class="BourbonSelectField-selected" mousedown="focusOut" focusin="focusIn" focusout="focusOut" tabindex="0">{{label}}</div>
<div class="BourbonSelectField-menu {{if showList 'BourbonSelect--focus btw-block'}}">
  {{#if useOptGroup}}
    {{#each groupedContent as |group|}}
      {{#each group.items as |option index|}}
        {{log index}}
        {{bourbon-select-field-option index=index tagName="div" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
      {{/each}}
    {{/each}}

  {{else}}
    {{#each content as |option index|}}
      {{bourbon-select-field-option index=index tagName="div" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
    {{/each}}
  {{/if}}
</div>
