<select name="test" class="bourbon-select-field bourbon-hidden" focusrole="listbox">
  {{#if hasPrompt}}
    <option value={{prompt}}>{{prompt}}</option>
  {{/if}}
  {{#if useOptGroup}}
    {{#each groupedContent as |group|}}
      {{#each group.items as |option|}}
        {{bourbon-select-field-option tagName="option" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
      {{/each}}
    {{/each}}

  {{else}}
    {{#each content as |option|}}
      {{bourbon-select-field-option tagName="option" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
    {{/each}}
  {{/if}}
</select>

<div class="bourbon-select-field__menu-selected {{if showList 'bourbon-select-field__menu-selected--focus'}}" mousedown="focusOut" focusin="focusIn" focusout="focusOut" tabindex="0">{{label}}</div>
<div class="bourbon-select-field__menu {{if showList 'bourbon-select--focus bourbon-block'}}">
  {{#if useOptGroup}}
    {{#each groupedContent as |group|}}
      {{#each group.items as |option|}}
        {{bourbon-select-field-option tagName="div" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
      {{/each}}
    {{/each}}

  {{else}}
    {{#each content as |option|}}
      {{bourbon-select-field-option tagName="div" content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=target role="listitem"}}
    {{/each}}
  {{/if}}
</div>
