<select name="test" class="bourbon-select-field bourbon-hidden" onchange={{action "updateSelection"}} focusrole="listbox">
  {{#if prompt}}
    <option value={{prompt}}>{{prompt}}</option>
  {{/if}}
  {{#if useOptGroup}}
    {{#each groupedContent as |group|}}
      {{#each group.items as |option|}}
        {{bourbon-select-field-option content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=selectFieldContext role="listitem" showList=showList}}
      {{/each}}
    {{/each}}

  {{else}}
    {{#each content as |option|}}
      {{bourbon-select-field-option content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=selectFieldContext role="listitem" showList=showList}}
    {{/each}}
  {{/if}}
</select>

<div class="bourbon-select-field__menu-selected {{if showList 'bourbon-select-field__menu-selected--focus'}}">{{defaultText}}</div>
<div class="bourbon-select-field__menu {{if showList 'bourbon-select--focus bourbon-block'}}" onchange={{action "updateSelection"}} >
  {{#if useOptGroup}}
    {{#each groupedContent as |group|}}
      {{#each group.items as |option|}}
        {{bourbon-select-field-option content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=selectFieldContext role="listitem" showList=showList searchTerm=searchTerm}}
      {{/each}}
    {{/each}}

  {{else}}
    {{#each content as |option|}}
      {{bourbon-select-field-option content=option selection=selection labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath target=selectFieldContext role="listitem" showList=showList searchTerm=searchTerm}}
    {{/each}}
  {{/if}}
</div>
