<div class="BourbonSearchSelectField-inputContainer" {{action "mouseDown"}}>
  <div class="BourbonTextField {{if isFocused 'BourbonTextField--active'}}">
    <input class="BourbonTextField-input" type="search" placeholder={{prompt}} value={{inputValue}}>
  </div>
</div>
{{#if showDropdown}}
  <div class="BourbonSearchSelectField-searchContainer">
    <div class="BourbonSelectField btw-block">
      <div class="BourbonSelectField-selected" tabindex="0">{{label}}</div>
      <div class="BourbonSelectField-menu BourbonSelect--focus btw-block">
        {{#if groupedContent}}
          {{#each searchList as |group outerIndex|}}
            <div class="BourbonSelectField-optionGroup" index={{outerIndex}}>
              {{#if group.groupHeader}}
                <div class="BourbonSelectField-optionGroupName">{{group.groupHeader}}</div>
              {{/if}}
              {{#each group.items as |option innerIndex|}}
                {{bourbon-select-field-option index=innerIndex tagName="div" content=option selection=selection updateSelection=(action "updateSearchSelection" innerIndex outerIndex) labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath role="listitem"}}
              {{/each}}
            </div>
          {{/each}}

        {{else}}
          {{#each searchList as |option index|}}
            {{bourbon-select-field-option index=index tagName="div" content=option selection=selection updateSelection=(action "updateSearchSelection" index) labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath role="listitem"}}
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
