{{#if modalService.showModalState}}
  {{bourbon-modal-overlay closeModal=(action 'closeBourbonModal')}}
  <aside class="BourbonModal {{if modalService.scrollable 'BourbonModal--scrollable'}} {{if modalService.wideModal 'BourbonModal--large'}} {{if modalService.noPaddingModal 'BourbonModal--noPadding'}} {{if modalService.hideFooter 'BourbonModal--hideFooter'}}">
    <div class="BourbonModal-header">
      {{#if modalService.title}}
        <header class="BourbonModal-title">{{modalService.title}}</header>
      {{/if}}
      {{#if modalService.dismissable}}
        {{bourbon-button icon='close-button' class='BourbonModal-closeButton' action=(action 'closeBourbonModal') aria-label='Close'}}
      {{/if}}
    </div>

    {{#if modalService.content}}
      {{bourbon-modal-content contentPartial=modalService.content modalContext=modalService.context noPadding=modalService.noPaddingModal closeBourbonModal=(action 'closeBourbonModal')}}
    {{else}}
      {{bourbon-modal-content textContent=modalService.textContent noPadding=modalService.noPaddingModal}}
    {{/if}}

    <div class="BourbonModal-footer {{if modalService.noPaddingModal 'btw-m-0'}}">
      {{#if modalService.linkTitle}}
        <a class="BourbonModal-link" href={{modalService.linkHref}}>{{modalService.linkTitle}}</a>
      {{/if}}

      <div class="BourbonModal-buttonContainer">
        {{#if modalService.buttonTwoTitle}}
          {{bourbon-button title=modalService.buttonTwoTitle class=buttonTwoClass action=(action 'buttonTwoAction')}}
        {{/if}}

        {{#if modalService.buttonOneTitle}}
          {{bourbon-button title=modalService.buttonOneTitle class=buttonOneClass action=(action 'buttonOneAction')}}
        {{/if}}

        {{#if modalService.copyButtonTitle}}
          {{#copy-button clipboardText=modalService.copyText class="BourbonButton BourbonButton--primary" success=(action 'copyButtonAction')}}
            {{modalService.copyButtonTitle}}
          {{/copy-button}}
        {{/if}}
      </div>
    </div>
  </aside>
{{/if}}
