<label class="BourbonTextField-label">{{placeholder}}</label>
<input class="BourbonTextField-input" type="text" placeholder={{placeholder}} value={{value}} disabled={{disabled}} autocomplete={{autocomplete}} autofocus={{autofocus}} readonly={{boundReadOnly}}>
