{{#if linkTo}}
  <a href={{linkTo}} class='BourbonButton-link' target={{if openLinkInNewTab '_blank' '_self'}} >
    {{#if title}}
      <span class='BourbonButton-title {{if textAndIconButton 'btw-pr-2'}}'>
        {{title}}
      </span>
    {{/if}}
    {{#if icon}}
      {{partial (concat 'bourbon-' icon '-svg')}}
    {{/if}}
  </a>
{{else}}
  {{#if title}}
    <span class='BourbonButton-title {{if textAndIconButton 'btw-pr-2'}}'>
      {{title}}
    </span>
  {{/if}}
  {{#if icon}}
    {{partial (concat 'bourbon-' icon '-svg')}}
  {{/if}}
{{/if }}
{{!-- option to use block params for buttons --}}
{{yield}}
