<div class="BourbonFeatureOverview-svgContainer">
  {{partial (concat 'bourbon-' svg '-svg')}}
</div>
<div class="BourbonFeatureOverview-textContainer">
  <div class="BourbonFeatureOverview-header">
    {{header}}
  </div>
  <div class="BourbonFeatureOverview-message">
    {{message}}
  </div>
</div>

<div class="BourbonFeatureOverview-buttonContainer">
  {{bourbon-button title=buttonOneTitle class=buttonOneClass icon=buttonOneIcon linkTo=buttonOneLinkTo openLinkInNewTab=openButtonOneLinkInNewTab action=(action "buttonOneAction")}}
  {{#if buttonTwoTitle}}
    {{bourbon-button title=buttonTwoTitle class=buttonTwoClass icon=buttonTwoIcon linkTo=buttonTwoLinkTo openLinkInNewTab=openButtonTwoLinkInNewTab action=(action "buttonTwoAction")}}
  {{/if}}
</div>
