<button {{action 'click'}} class='{{if title 'bourbon-button'}} {{additionalClasses}}' aria-label={{ariaLabel}}>
  {{#if icon}}
    {{partial (concat 'bourbon-' icon '-svg')}}
  {{else}}
    {{title}}
  {{/if}}
</button>
