<div class="BourbonSearchSelectField-inputContainer" {{action "mouseDown"}}>
  {{bourbon-text-field placeholder=prompt noLabel=true value=inputValue autofocus=autofocus readonly=readonly autocomplete="off" type="search"}}
</div>

<div class="BourbonSearchSelectField-searchContainer">
  <div class="BourbonSelectField btw-block">
    <div class="BourbonSelectField-selected" tabindex="0">{{label}}</div>
    <div class="BourbonSelectField-menu {{if showDropdown 'BourbonSelect--focus btw-block'}}">
      {{#if groupedContent}}
        {{#each searchList as |group outerIndex|}}
          <div class="BourbonSelectField-optionGroup" index={{outerIndex}}>
            {{#if group.groupHeader}}
              <div class="BourbonSelectField-optionGroupName">{{group.groupHeader}}</div>
            {{/if}}
            {{#each group.items as |option innerIndex|}}
              {{bourbon-select-field-option index=innerIndex tagName="div" content=option selection=selection updateSelection=(action "updateSearchSelection" innerIndex outerIndex) labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath role="listitem"}}
            {{/each}}
          </div>
        {{/each}}

      {{else}}
        {{#each searchList as |option index|}}
          {{bourbon-select-field-option index=index tagName="div" content=option selection=selection updateSelection=(action "updateSearchSelection" index) labelPath=optionLabelPath valuePath=optionValuePath enabledPath=optionEnabledPath role="listitem"}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
