<div class="bourbon-feature-overview__svg-container">
  {{partial (concat 'bourbon-' svg '-svg')}}
</div>
<div class="bourbon-feature-overview__text-container">
  <div class="bourbon-feature-overview__header">
    {{header}}
  </div>
  <div class="bourbon-feature-overview__message">
    {{message}}
  </div>
</div>

<div class="bourbon-feature-overview__button-container">
  {{bourbon-button title=buttonOneTitle class=buttonOneClass icon=buttonOneIcon linkTo=buttonOneLinkTo openLinkInNewTab=openButtonOneLinkInNewTab action=(action "buttonOneAction")}}
  {{#if buttonTwoTitle}}
    {{bourbon-button title=buttonTwoTitle class=buttonTwoClass icon=buttonTwoIcon linkTo=buttonTwoLinkTo openLinkInNewTab=openButtonTwoLinkInNewTab action=(action "buttonTwoAction")}}
  {{/if}}
</div>
