{{#if modalService.showModalState}}
  {{bourbon-modal-overlay closeModal=(action 'closeBourbonModal')}}
  <aside class="bourbon-modal {{if modalService.scrollable 'bourbon-modal--scrollable'}} {{if modalService.wideModal 'bourbon-modal--large'}} {{if modalService.confirmationModal 'bourbon-modal--confirmation'}} {{if modalService.noPaddingModal 'bourbon-modal__no-padding'}} {{if modalService.hideFooter 'bourbon-modal__hide-footer'}}">
    <div class="bourbon-modal__header">
      {{#if modalService.title}}
        <header class="bourbon-modal__title">{{modalService.title}}</header>
      {{/if}}
      {{#if modalService.dismissable}}
        {{bourbon-button icon='close-button' class='bourbon-modal__close-button' action=(action 'closeBourbonModal') aria-label='Close'}}
      {{/if}}
    </div>

    {{#if modalService.content}}
      {{bourbon-modal-content contentPartial=modalService.content modalContext=modalService.context noPadding=modalService.noPaddingModal closeBourbonModal=(action 'closeBourbonModal')}}
    {{else}}
      {{bourbon-modal-content textContent=modalService.textContent noPadding=modalService.noPaddingModal}}
    {{/if}}

    <div class="bourbon-modal__footer {{if modalService.noPaddingModal 'bourbon-m-0'}}">
      {{#if modalService.linkTitle}}
        <a class="bourbon-modal__link" href={{modalService.linkHref}}>{{modalService.linkTitle}}</a>
      {{/if}}

      <div class="bourbon-modal__button-wrapper">
        {{#if modalService.buttonTwoTitle}}
          {{bourbon-button title=modalService.buttonTwoTitle class=buttonTwoClass action=(action 'buttonTwoAction')}}
        {{/if}}

        {{#if modalService.buttonOneTitle}}
          {{bourbon-button title=modalService.buttonOneTitle class=buttonOneClass action=(action 'buttonOneAction')}}
        {{/if}}

        {{#if modalService.copyButtonTitle}}
          {{#copy-button clipboardText=modalService.copyText class="bourbon-button bourbon-primary-button" success=(action 'copyButtonAction')}}
            {{modalService.copyButtonTitle}}
          {{/copy-button}}
        {{/if}}
      </div>
    </div>
  </aside>
{{/if}}
